
body{
  width: 100%;
  height: 100vh
  max-width: 1260px;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: column;
  
}
*{
   box-sizing: border-box;
 }
.header{
  width: 100%;
}
.navigation{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.menu{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
}
.menu li{
  margin-left: 30px;
  list-style: none;
  margin-top: 34px;
}
.li__link{
  margin-left: 48px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 7px;
   line-height: 1.71;
  text-align: center;
  color: #626262;
  margin-right: 34px;
  text-decoration: none;
}
.logo{
  width: 60px;
  height: 12px;
  margin: 34px 0 38px 34px;
}
.head__bacground{
  width: 100%;
}
.two__columns{
  height: 1900px;
  margin-top: 40px;
  font-size: 1.1em;
  padding: 1em;
  display: flex;
  margin-bottom: 100px;
  }
  .two__columns__first{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: calc(100% - 100px);
    height: 100vh;
    margin-left: 40px;
  }
  
.img{
  width: fit-content;
  height: fit-content;
  margin: 32px 0 25px 0;
}
  .sub_text{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 7px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  color: #b4ad9e;
}
.main__title{
  width: 60%;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-align: left;
  color: #626262;
}
.main__text{
    width: 60%;

  width: 
  font-style: italic;
  font-size: 7px;
  font-family: 'Playfair Display';
  line-height: 1.71;
  text-align: left;
  color: #626262;
  margin: 0 auto;
}

.main__text__noneitalic{
  width: 60%;
  font-size: 7px;
  font-family: 'Playfair Display';
  line-height: 1.71;
  text-align: left;
  color: #626262;
  margin: 0 auto;
}
.text__after{
  width: 60%;
  font-family: PlayfairDisplay;
  font-size: 7px;
  font-style: italic;
  font-weight: 900;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
}
.share__area__right{
  margin-left: 44%;
    display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  -ms-align-items: baseline;
  align-items: baseline;
}
.share__area__right>h4{
   font-family: Ubuntu;
  font-size: 6.5px;
  font-weight: 300;
   line-height: 1.85;
  text-align: left;
  color: #b4ad9e;
}
.share__area__right>img{
  height: 10px;
    margin-left: 30px;
}

.row__images{
  margin-top: 67px;
  width: 100%;
  opacity: 0.8;
  background-color: #f2f2f2;
}
.item-wrapper__title{
  margin-left: 60px;
  margin-bottom: 20px;
  font-family: Ubuntu;
  font-size: 7px;
  font-weight: 300;
  text-align: left;
  color: #b4ad9e;
}
.row__images-wrap{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.row__images__section{
  padding-bottom: 67px;
  background-color: 
}
.comments{
  width: 100%;
  padding-top: 10%;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
}
.comments__item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.comments__item>img{
  width: 100px;
  height: 100px;
}
.comments__item-block{
  width: 80%;
  margin-top: -30px;
  margin-left: 50px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
-ms-align-items: baseline;
align-items: baseline;
margin-bottom: 50px;
}
.position{
  position: relative;
  top: 0;
  left: 0;
 width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.position::before{
  content: "JD";
  display: block;
  position: absolute;
  top: 23px;
  left:  28px;
 font-size: 45px;
  font-weight: 300;
  color: black;

}
form{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.text__area{
  width: 700px;
  height: 80px;
  margin-top: 20px;
  resize: none;
}
.comments__item>p{
  font-family: Ubuntu;
  font-size: 7px;
  font-weight: 300;
    text-align: left;
  color: #c8c8c8;
}
.share__area{
  margin-left: 60%;
    display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  -ms-align-items: baseline;
  align-items: baseline;

}
.share__area>h4{
   font-family: Ubuntu;
  font-size: 6.5px;
  font-weight: 300;
   line-height: 1.85;
  text-align: left;
  color: #b4ad9e;
}
.share__area>img{
  height: 10px;
    margin-left: 30px;
}
.footer{
  margin-top: 50px;
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
}
.footer__items{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.footer__items__block_first{
  margin-left: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 300px;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.footer__items__block_second{
  width: 30%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: baseline;
  align-items: baseline;
}
.footer__items__block_second>img{
  height: 10px;
    margin-left: 30px;
}